#navbar,
#navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navbar {
  padding-left: 1.7vw;
  min-width: auto;
  width: 100vw;
  position: fixed;
  z-index: 10;
  height: auto;
  align-items: center;
  display: flex;
  padding: 0;
  position: fixed;
  justify-content: center;
  background-color: var(--navbar-color);
}

#navbar ul {
  display: none;
  position: absolute;
  top: 100%;
}

#navbar li {
  float: left;
  position: relative;
  height: 100%;
}

#navbar li a {
  display: block;
  padding: 0.5vw;
  width: 7vw;
  font-size: 1vw;
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

#navbar li:hover ul {
  display: block;
}

#navbar ul li {
  float: none;
}

#navbar ul li ul {
  float: none;
}

#footer {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-left: 0.1vw;
  background-color: var(--navbar-color);
  height: 2vw;
  z-index: 10;
}

#footer li {
  float: left;
  position: relative;
  height: 100%;
}

#footer li input {
  display: block;
  width: 5vw;
  height: 1.6vw;
  font-size: 1.2vw;
  text-align: center;
  position: relative;
  z-index: 10;
  background-color: white;
  color: black;
  border: 0.2vw solid black;
}

#footer li a {
  display: block;
  padding: 0.5vw;
  width: 5vw;
  font-size: 1vw;
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

#js-search-input {
  height: 1.5vw;
  display: block;
  font-size: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 0.5vh;
  border: 0;
  padding: 0.3vh 0.5vw 0.3vh 0.5vw;
}
#js-search-input:focus-visible {
  outline: 0;
}
#js-searched {
  color: aliceblue;
  font-size: 1.5vh;
  background-color: var(--navbar-color);
  display: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

#js-searched b {
  color: var(--navbar-add-color);
}

#navbar li:hover,
#searcher {
  background-color: var(--navbar-add-color) !important;
}
#navbar,
#footer,
#navbar ul {
  background-color: var(--navbar-color);
}

#line {
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-top: 0.2vh solid #444444;
  border-bottom: 0.2vh solid #444444;
}
.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__items {
  margin: 0;
  padding: 0;
  position: fixed;
  list-style: none;
  background: white;
  border: 2px solid #ffffff;
  border-radius: 2px;
  display: none;
}

.context-menu__items.active {
  display: block;
  border-radius: 0.5em;
}

.context-menu__items li {
  width: 100%;
  padding: 10px;
  border-radius: 0.5em;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
}
.context-menu__items li:hover {
  background: #d3d3d3;
}
